[submodule "apps"]
	path = apps
	url = git@github.com:heartsker/apps.git
[submodule "CoreKit"]
	path = CoreKit
	url = git@github.com:heartsker/CoreKit.git
[submodule "hse-cs"]
	path = hse-cs
	url = git@github.com:heartsker/hse-cs.git
[submodule "ios-interview"]
	path = ios-interview
	url = git@github.com:heartsker/ios-interview.git
[submodule "leetcode"]
	path = leetcode
	url = git@github.com:heartsker/leetcode.git
[submodule "lichess-bot"]
	path = lichess-bot
	url = git@github.com:heartsker/lichess-bot.git
[submodule "resume"]
	path = resume
	url = git@github.com:heartsker/resume.git
[submodule "system-configuration"]
	path = system-configuration
	url = git@github.com:heartsker/system-configuration.git
[submodule "wordle"]
	path = wordle
	url = git@github.com:heartsker/wordle.git
